<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/common.css" />
	</head>

	<body>
		<h2>Login Form for Admin</h2>

		<form method="POST" action="/data_export">
			<div class="container">
				<label for="name"><b>Username</b></label>
				<input
					id="name"
					type="text"
					placeholder="Enter Username"
					name="name"
					required
				/>

				<label for="password"><b>Password</b></label>
				<input
					id="pass"
					type="password"
					placeholder="Enter Password"
					name="password"
					required
				/>

				<button type="submit">Login</button>
			</div>
		</form>
	</body>
</html>
