<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Files</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <style>
    img {
      width: 200px;
      height: 500px;
    }
  </style> <img class="img-fluid" src="../upload/bridge.jpg" alt="">
  <img class="img-fluid" src="../upload/drop.jpg" alt="">
  <img class="img-fluid" src="../upload/grand trunk.jpg" alt="">
  <img class="img-fluid" src="../upload/mountain.jpg" alt="">
  <img class="img-fluid" src="../upload/northwind-er-diagram.png" alt="">
  <img class="img-fluid" src="../upload/photographer.jpg" alt=""> </body>

</html>